html {
  height: 100%;
}
body {
  height: 100%;
  background-image: url(/images/005-wood-grain.png);
}
h1 {
  color: #000000;
}
.wrap {
  width: 980px; /* fixed width, centered in viewport */
  left: -490px;
  margin-left: 50%;
  position: relative;
}
.wrap > h1 {
  font-size: 2.5em;
  text-align: center;
}
#showcase img {
  cursor: pointer;
}
footer {
  display: block;
  position: relative;
}
.wrap > h1 {
      margin: 26px auto;
      text-shadow: 1px 1px 5px #8B8B8B;
    }
    #showcase {
      height: 600px;
      box-shadow: 0px 0px 13px 5px #8B8B8B; /*#41AFD3*/
      border-radius: 8px;
    }
    #item-title {
      color: #000000;
      font-size: 29px;
      letter-spacing: 0.13em;
      text-shadow: 1px 1px 6px #8B8B8B;
      text-align: center;
      margin-bottom: 22px;
    }
    #nav {
      text-align: center;
    }
    #nav > button {
      width: 64px;
      height: 36px;
      color: #666;
      font: bold 16px arial;
      text-align: center;
      margin: 5px;
      background: #f6f6f6;
      border: solid 2px rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      cursor: pointer;
    }
    #nav > button:active,
    #nav > button.down {
      background: #dfdfdf;
      border: solid 2px rgba(0, 0, 0, 0.6);
      box-shadow: none;
    }